body {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  height: 100vh;
  justify-content: center;
  margin: 0 auto;
  width: 100vw;
  font-kerning: normal;
  word-spacing: normal;
  letter-spacing: normal;
  position: relative;
  color: rgba(0, 0, 0, 0.67);
  background-color: rgba(0, 0, 0, 0.1);
}
